%titreNoir {
    @extend %textNoir;

    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px 2px darken($noir, 5);
}

%titreClaire {
    @extend %titreNoir;
    @extend %textClaire;
    
    text-shadow: 2px 2px 2px #000;
}

%titreBleu {
    @extend %titreNoir;
    @extend %textBleu;

    text-shadow: 2px 2px 2px #000;
}

%textNoir {
    color: $noir;
}

%textClaire {
    color: $blanc;
}

%textBleu {
    color: scale-color($bleu, $lightness: -60%);
}