@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Lobster|Source+Sans+Pro:300,400&display=swap");
/* line 6, ../../sass/_reset.scss */
* {
  box-sizing: border-box; }

/* line 10, ../../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* make sure to set some focus styles for accessibility */
/* line 33, ../../sass/_reset.scss */
:focus {
  outline: 0; }

/* HTML5 display-role reset for older browsers */
/* line 38, ../../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 43, ../../sass/_reset.scss */
body {
  line-height: 1; }

/* line 47, ../../sass/_reset.scss */
ol, ul {
  list-style: none; }

/* line 51, ../../sass/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 55, ../../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 61, ../../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 66, ../../sass/_reset.scss */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

/* line 74, ../../sass/_reset.scss */
input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

/* line 82, ../../sass/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
/* line 92, ../../sass/_reset.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 106, ../../sass/_reset.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
/* line 116, ../../sass/_reset.scss */
[hidden] {
  display: none; }

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 127, ../../sass/_reset.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 137, ../../sass/_reset.scss */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 145, ../../sass/_reset.scss */
a:active,
a:hover {
  outline: 0; }

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
/* line 155, ../../sass/_reset.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
/* line 164, ../../sass/_reset.scss */
figure {
  margin: 0; }

/**
 * Correct margin displayed oddly in IE 6/7.
 */
/* line 172, ../../sass/_reset.scss */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
/* line 180, ../../sass/_reset.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
/* line 192, ../../sass/_reset.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
/* line 206, ../../sass/_reset.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 221, ../../sass/_reset.scss */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 233, ../../sass/_reset.scss */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 248, ../../sass/_reset.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
/* line 261, ../../sass/_reset.scss */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
/* line 273, ../../sass/_reset.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 287, ../../sass/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 299, ../../sass/_reset.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
/* line 308, ../../sass/_reset.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 319, ../../sass/_reset.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/**
 * Remove most spacing between table cells.
 */
/* line 328, ../../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 333, ../../sass/_reset.scss */
html,
button,
input,
select,
textarea {
  color: #222; }

/* line 342, ../../sass/_reset.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

/* line 347, ../../sass/_reset.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none; }

/* line 352, ../../sass/_reset.scss */
img {
  vertical-align: middle; }

/* line 356, ../../sass/_reset.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* line 362, ../../sass/_reset.scss */
textarea {
  resize: vertical; }

/* line 366, ../../sass/_reset.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* line 373, ../../sass/_reset.scss */
html {
  font-size: 62.5%; }

/* line 377, ../../sass/_reset.scss */
* {
  box-sizing: border-box; }

/* line 1, ../../sass/position/_nav.scss */
nav {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2vh 2vw;
  z-index: 10;
  border: 1px solid black; }
  /* line 17, ../../sass/position/_nav.scss */
  nav img {
    height: auto;
    width: 5vw; }
  /* line 22, ../../sass/position/_nav.scss */
  nav ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    border: 1px solid black; }
    /* line 32, ../../sass/position/_nav.scss */
    nav ul li {
      font-size: 1.75rem;
      border: 1px solid black; }
      /* line 39, ../../sass/position/_nav.scss */
      nav ul li a {
        padding: 1vh 1vw;
        border: 1px solid black; }
  /* line 49, ../../sass/position/_nav.scss */
  nav #menuburger {
    display: none; }
  @media all and (max-width: 750px) {
    /* line 54, ../../sass/position/_nav.scss */
    nav {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: min-content max-content;
      padding: 0; }
      /* line 60, ../../sass/position/_nav.scss */
      nav img {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        justify-self: left;
        align-self: center;
        height: 5vh;
        width: auto;
        margin: 2vh 2vw; }
      /* line 70, ../../sass/position/_nav.scss */
      nav #menuburger {
        display: initial;
        grid-column: -1 / -2;
        grid-row: 1 / span 1;
        justify-self: right;
        align-self: center;
        font-size: 2rem;
        margin: 2vh 2vw;
        padding: 2vw 2vw; }
      /* line 81, ../../sass/position/_nav.scss */
      nav ul {
        grid-column: 1 / -1;
        grid-row: -1 / -2;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(3, min-content);
        align-content: center;
        height: 20vh;
        overflow: hidden;
        transition: height .5s; }
        /* line 95, ../../sass/position/_nav.scss */
        nav ul[class='hidden'] {
          height: 0px; }
        /* line 99, ../../sass/position/_nav.scss */
        nav ul li {
          font-size: 1.8rem;
          text-align: center; }
          /* line 103, ../../sass/position/_nav.scss */
          nav ul li a {
            display: inline-block;
            padding: 0;
            width: 100%;
            padding: 1.5vh 1vw; } }
  @media all and (max-width: 280px) {
    /* line 115, ../../sass/position/_nav.scss */
    nav ul {
      grid-template-columns: 100%;
      grid-template-rows: repeat(6, min-content);
      height: 39vh; } }

/* line 1, ../../sass/position/_header.scss */
header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 100vh;
  padding: 2vh 2vw;
  z-index: 1;
  border: 1px solid black; }
  /* line 15, ../../sass/position/_header.scss */
  header > * {
    margin: 1vh 0; }
  /* line 19, ../../sass/position/_header.scss */
  header .logo {
    height: 40vh;
    width: auto; }
    @media all and (max-width: 400px) {
      /* line 19, ../../sass/position/_header.scss */
      header .logo {
        height: auto;
        width: 90vw; } }
  /* line 29, ../../sass/position/_header.scss */
  header h1 {
    font-size: 3rem; }
  /* line 33, ../../sass/position/_header.scss */
  header .scrool {
    height: 10vh;
    width: auto;
    border: 1px solid black; }

/* line 1, ../../sass/position/_service.scss */
#service {
  min-height: 100vh;
  padding: 10vh 0;
  border: 1px solid black; }
  /* line 9, ../../sass/position/_service.scss */
  #service .main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content 1fr;
    grid-auto-rows: 1fr;
    column-gap: 5vw;
    row-gap: 5vh;
    min-height: min-content;
    width: 100%;
    padding: 0 2vw;
    border: 1px solid black; }
    @media all and (max-width: 704px) {
      /* line 9, ../../sass/position/_service.scss */
      #service .main {
        grid-template-columns: repeat(2, 1fr); } }
    @media all and (max-width: 440px) {
      /* line 9, ../../sass/position/_service.scss */
      #service .main {
        grid-template-columns: repeat(1, 1fr); }
        /* line 31, ../../sass/position/_service.scss */
        #service .main section {
          width: 70vw; } }
    /* line 36, ../../sass/position/_service.scss */
    #service .main h2 {
      grid-column: 1 / -1;
      grid-row: 1 / span 1;
      text-align: center;
      font-size: 3rem;
      border: 1px solid black; }
    /* line 47, ../../sass/position/_service.scss */
    #service .main section {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      justify-self: center;
      align-items: center;
      padding: 2vh 2vw;
      overflow: hidden;
      border: 1px solid black; }
      @media all and (min-width: 704px) {
        /* line 61, ../../sass/position/_service.scss */
        #service .main section:hover > p {
          height: 100%; } }
      /* line 66, ../../sass/position/_service.scss */
      #service .main section > * {
        margin-bottom: 5vh; }
        /* line 69, ../../sass/position/_service.scss */
        #service .main section > *:last-child {
          margin-bottom: 0; }
      /* line 74, ../../sass/position/_service.scss */
      #service .main section img {
        height: 15vh;
        width: auto; }
      /* line 79, ../../sass/position/_service.scss */
      #service .main section h3 {
        text-align: center;
        font-size: 2.5rem;
        border: 1px solid black; }
      /* line 88, ../../sass/position/_service.scss */
      #service .main section p {
        text-align: center;
        font-size: 1.5rem;
        border: 1px solid black; }
        @media all and (min-width: 704px) {
          /* line 88, ../../sass/position/_service.scss */
          #service .main section p {
            height: 0%;
            overflow: hidden;
            transition: height .5s; } }

/* line 1, ../../sass/position/_deroulement.scss */
#deroulement {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content;
  row-gap: 5vh;
  padding: 0vh 2vw;
  margin: 10vh 0;
  position: relative;
  border: 1px solid black;
    /*section {
        display: flex;
        flex-flow: column nowrap;
        justify-self: center;
        align-items: center;
        align-self: center;
        padding: 2vh 2vw;

        @if $border == 1 {
            border: 1px solid black;
        }

        & > * {
            margin-bottom: 2.5vh;

            &:last-child {
                margin-bottom: 0;
            }
        }

        img {
            height: 15vh;
            width: auto;
        }

        h3 {
            text-align: center;
            font-size: 2.5rem;

            @if $border == 1 {
                border: 1px solid black;
            }
        }

        p {
            font-size: 1.5rem;

            @if $border == 1 {
                border: 1px solid black;
            }
        }
    }*/ }
  /* line 16, ../../sass/position/_deroulement.scss */
  #deroulement h2 {
    grid-column: 1 / -1;
    grid-row: 1 / span 1;
    text-align: center;
    font-size: 3rem;
    border: 1px solid black; }
  /* line 27, ../../sass/position/_deroulement.scss */
  #deroulement .etape {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: start;
    border: 1px solid black; }
    /* line 37, ../../sass/position/_deroulement.scss */
    #deroulement .etape section {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      height: min-content;
      min-width: 200px;
      width: min-content;
      padding: 2vh 2vw;
      margin: 2vh 2vw;
      border: 1px solid black; }
      @media all and (max-width: 440px) {
        /* line 37, ../../sass/position/_deroulement.scss */
        #deroulement .etape section {
          width: 70vw; } }
      /* line 56, ../../sass/position/_deroulement.scss */
      #deroulement .etape section > * {
        margin-bottom: 2.5vh; }
        /* line 59, ../../sass/position/_deroulement.scss */
        #deroulement .etape section > *:last-child {
          margin-bottom: 0; }
      /* line 64, ../../sass/position/_deroulement.scss */
      #deroulement .etape section img {
        height: 15vh;
        width: auto; }
      /* line 69, ../../sass/position/_deroulement.scss */
      #deroulement .etape section h3 {
        text-align: center;
        font-size: 2.5rem;
        border: 1px solid black; }
      /* line 78, ../../sass/position/_deroulement.scss */
      #deroulement .etape section p {
        font-size: 1.5rem;
        border: 1px solid black; }

/* line 1, ../../sass/position/_competance.scss */
#competance {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content;
  row-gap: 5vh;
  min-height: 100vh;
  padding: 2vh 2vw;
  border: 1px solid black; }
  /* line 13, ../../sass/position/_competance.scss */
  #competance h2 {
    grid-column: 1 / -1;
    grid-row: 1 / span 1;
    text-align: center;
    font-size: 3rem;
    border: 1px solid black; }
  /* line 24, ../../sass/position/_competance.scss */
  #competance .categorie {
    grid-column: 1 / -1;
    grid-row: 2 / span 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: start;
    border: 1px solid black; }
    /* line 37, ../../sass/position/_competance.scss */
    #competance .categorie section {
      width: 30%;
      padding: 2vh 2vw;
      margin-bottom: 5vh;
      border: 1px solid black; }
      @media all and (max-width: 690px) {
        /* line 37, ../../sass/position/_competance.scss */
        #competance .categorie section {
          width: 48%; }
          /* line 49, ../../sass/position/_competance.scss */
          #competance .categorie section li h4 img {
            height: 15vh !important;
            max-height: 100px;
            width: auto !important;
            max-width: 100% !important; } }
      @media all and (max-width: 500px) {
        /* line 37, ../../sass/position/_competance.scss */
        #competance .categorie section {
          width: 70vw;
          margin: 0 auto; } }
      /* line 62, ../../sass/position/_competance.scss */
      #competance .categorie section h3 {
        font-size: 2.25rem;
        text-align: center;
        margin-bottom: 2.25vh;
        border: 1px solid black; }
      /* line 72, ../../sass/position/_competance.scss */
      #competance .categorie section ul {
        border: 1px solid black; }
        /* line 77, ../../sass/position/_competance.scss */
        #competance .categorie section ul li {
          display: flex;
          flex-flow: column nowrap;
          justify-content: space-around;
          align-items: center;
          margin-bottom: 2.5vh;
          border: 1px solid black; }
          /* line 88, ../../sass/position/_competance.scss */
          #competance .categorie section ul li:last-child {
            margin-bottom: 0; }
          /* line 92, ../../sass/position/_competance.scss */
          #competance .categorie section ul li h4 {
            font-size: 2.25rem;
            text-align: center;
            margin-bottom: 2vw;
            border: 1px solid black; }
            /* line 102, ../../sass/position/_competance.scss */
            #competance .categorie section ul li h4 img {
              height: auto;
              width: 8.5vw;
              max-width: 100px; }
          /* line 109, ../../sass/position/_competance.scss */
          #competance .categorie section ul li p {
            font-size: 1.5rem;
            border: 1px solid black; }

/* line 1, ../../sass/position/_portfolio.scss */
#portfolio {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  row-gap: 5vh;
  min-height: 100vh;
  padding: 2vh 2vw;
  border: 1px solid black; }
  /* line 13, ../../sass/position/_portfolio.scss */
  #portfolio h2 {
    text-align: center;
    font-size: 3rem;
    border: 1px solid black; }
  /* line 22, ../../sass/position/_portfolio.scss */
  #portfolio .sites {
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 25vh;
    grid-auto-rows: 25vh;
    column-gap: 5vw;
    row-gap: 5vh;
    align-self: center; }
    @media all and (max-width: 1050px) {
      /* line 36, ../../sass/position/_portfolio.scss */
      #portfolio .sites {
        grid-template-columns: repeat(3, 1fr); } }
    @media all and (max-width: 800px) {
      /* line 42, ../../sass/position/_portfolio.scss */
      #portfolio .sites {
        grid-template-columns: repeat(2, 1fr); } }
    @media all and (max-width: 500px) {
      /* line 48, ../../sass/position/_portfolio.scss */
      #portfolio .sites {
        grid-template-columns: 1fr; } }
    /* line 53, ../../sass/position/_portfolio.scss */
    #portfolio .sites section {
      border: 1px solid black;
      position: relative;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      cursor: pointer; }
      /* line 64, ../../sass/position/_portfolio.scss */
      #portfolio .sites section:hover > h3 {
        border: 1px solid black;
        padding: 1vh 2vw;
        font-size: 2rem; }
      /* line 73, ../../sass/position/_portfolio.scss */
      #portfolio .sites section:hover > span {
        border: 1px solid black;
        padding: 0.5vh 2vw;
        font-size: 1.5rem; }
      /* line 82, ../../sass/position/_portfolio.scss */
      #portfolio .sites section h3 {
        background: white;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        padding: 0 2vw;
        border-width: 0;
        font-size: 0rem; }
      /* line 97, ../../sass/position/_portfolio.scss */
      #portfolio .sites section span {
        background: white;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        padding: 0vh 2vw;
        border-width: 0;
        font-size: 0rem; }
      /* line 112, ../../sass/position/_portfolio.scss */
      #portfolio .sites section h3, #portfolio .sites section span {
        transition: .5s; }

/* line 1, ../../sass/position/_description.scss */
#description {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  row-gap: 5vh;
  min-height: 100vh;
  padding: 2vh 2vw;
  border: 1px solid black; }
  /* line 13, ../../sass/position/_description.scss */
  #description h2 {
    text-align: center;
    font-size: 3rem;
    border: 1px solid black; }
  /* line 22, ../../sass/position/_description.scss */
  #description p {
    border: 1px solid black;
    align-self: center;
    text-align: center;
    font-size: 2.25rem; }

/* line 1, ../../sass/position/_contact.scss */
#contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr;
  column-gap: 5vw;
  row-gap: 5vh;
  min-height: 100vh;
  padding: 2vh 2vw;
  border: 1px solid black; }
  @media all and (max-width: 770px) {
    /* line 15, ../../sass/position/_contact.scss */
    #contact {
      grid-template-columns: 1fr;
      grid-template-rows: min-content min-content auto; }
    /* line 20, ../../sass/position/_contact.scss */
    #contact menu {
      display: flex !important; }
    /* line 24, ../../sass/position/_contact.scss */
    #contact .hidden {
      display: none; } }
  /* line 29, ../../sass/position/_contact.scss */
  #contact h2 {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 3rem;
    border: 1px solid black; }
  /* line 39, ../../sass/position/_contact.scss */
  #contact menu {
    display: none;
    flex-flow: row nowrap;
    justify-content: center;
    border: 1px solid black; }
    /* line 48, ../../sass/position/_contact.scss */
    #contact menu button {
      margin: 0 2vw;
      padding: 1vh 2vw;
      font-size: 1.5rem; }
  /* line 55, ../../sass/position/_contact.scss */
  #contact section {
    border: 1px solid black; }
  /* line 62, ../../sass/position/_contact.scss */
  #contact .contact h3 {
    display: none; }
  /* line 66, ../../sass/position/_contact.scss */
  #contact .contact ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: stretch;
    height: 100%;
    border: 1px solid black; }
    /* line 77, ../../sass/position/_contact.scss */
    #contact .contact ul li {
      margin: 2vh 2vw;
      padding: 2vh 2vw;
      border: 1px solid black; }
      /* line 85, ../../sass/position/_contact.scss */
      #contact .contact ul li h4 {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 2vh;
        border: 1px solid black; }
      /* line 95, ../../sass/position/_contact.scss */
      #contact .contact ul li p {
        font-size: 1.5rem;
        border: 1px solid black; }
  /* line 106, ../../sass/position/_contact.scss */
  #contact .formulaire {
    padding: 2vh 2vw; }
    /* line 109, ../../sass/position/_contact.scss */
    #contact .formulaire h3 {
      display: none; }
    /* line 113, ../../sass/position/_contact.scss */
    #contact .formulaire form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(2, min-content) 40% min-content 1fr;
      column-gap: 2vw;
      row-gap: 3vh;
      height: 100%;
      border: 1px solid black; }
      /* line 125, ../../sass/position/_contact.scss */
      #contact .formulaire form input {
        justify-self: stretch;
        align-self: center;
        padding: 1vh 1vw;
        font-size: 2rem;
        overflow: hidden; }
      /* line 133, ../../sass/position/_contact.scss */
      #contact .formulaire form #nom {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1; }
      /* line 138, ../../sass/position/_contact.scss */
      #contact .formulaire form #prenom {
        grid-column: -1 / -2;
        grid-row: 1 / span 1; }
      /* line 143, ../../sass/position/_contact.scss */
      #contact .formulaire form #mail {
        grid-column: 1 / -1;
        grid-row: 2 / span 1; }
      /* line 148, ../../sass/position/_contact.scss */
      #contact .formulaire form #text {
        grid-column: 1 / -1;
        grid-row: 3 / span 1;
        padding: 1vh 1vw;
        font-size: 1.5rem; }
      /* line 155, ../../sass/position/_contact.scss */
      #contact .formulaire form .g-recaptcha {
        grid-column: 1 / -1;
        grid-row: 4 / span 1;
        justify-self: center;
        align-self: center; }
      /* line 162, ../../sass/position/_contact.scss */
      #contact .formulaire form input[type=submit] {
        grid-column: 1 / -1;
        grid-row: 5 / span 1;
        justify-self: center;
        align-self: center;
        width: 50%; }

/* line 1, ../../sass/position/_footer.scss */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  border: 1px solid black; }
  /* line 11, ../../sass/position/_footer.scss */
  footer p {
    font-size: 1.5rem; }
  /* line 15, ../../sass/position/_footer.scss */
  footer p::before {
    content: "© ";
    font-size: 2rem; }

/* line 1, ../../sass/position/_siteInfo.scss */
#siteInfo {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: repeat(5, 1fr) min-content;
  row-gap: 3vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  padding: 1vh 1vw;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid black;
  background: white; }
  @media all and (max-width: 770px) {
    /* line 22, ../../sass/position/_siteInfo.scss */
    #siteInfo {
      width: 100%; } }
  /* line 27, ../../sass/position/_siteInfo.scss */
  #siteInfo[class=hidden] {
    display: none; }
  /* line 31, ../../sass/position/_siteInfo.scss */
  #siteInfo:after {
    content: ' ';
    display: block;
    grid-row: -1 / -2;
    height: 1vh;
    width: 100%;
    position: absolute;
    bottom: 0; }
  /* line 41, ../../sass/position/_siteInfo.scss */
  #siteInfo h2 {
    grid-column: 1 / -1;
    grid-row: 1 / span 1;
    padding: 1vh 2vh;
    text-align: center;
    font-size: 3rem;
    border: 1px solid black;
    background: white; }
  /* line 54, ../../sass/position/_siteInfo.scss */
  #siteInfo #fermer {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    font-size: 2rem; }
  /* line 60, ../../sass/position/_siteInfo.scss */
  #siteInfo #imgSite {
    grid-column: 1 / -1;
    grid-row: 2 / span 1;
    width: 100%;
    height: auto; }
  /* line 67, ../../sass/position/_siteInfo.scss */
  #siteInfo .description {
    grid-column: 1 / -1;
    grid-row: 3 / span 1;
    border: 1px solid black; }
    /* line 75, ../../sass/position/_siteInfo.scss */
    #siteInfo .description h3 {
      margin-bottom: 2vh;
      font-size: 2rem;
      border: 1px solid black; }
    /* line 84, ../../sass/position/_siteInfo.scss */
    #siteInfo .description p {
      font-size: 1.5rem;
      border: 1px solid black; }
  /* line 93, ../../sass/position/_siteInfo.scss */
  #siteInfo #tagSite {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    grid-column: 1 / -1;
    grid-row: 4 / span 1;
    border: 1px solid black; }
    /* line 105, ../../sass/position/_siteInfo.scss */
    #siteInfo #tagSite li {
      margin: 0.5vh 1vw;
      font-size: 1.5rem;
      border: 1px solid black; }
  /* line 115, ../../sass/position/_siteInfo.scss */
  #siteInfo #linkSite {
    grid-column: 1 / -1;
    grid-row: 5 / span 1;
    justify-self: center;
    padding: 2vh 2vw;
    font-size: 2rem;
    border: 1px solid black; }

/* line 1, ../../sass/_modelColor.scss */
#service h2, #service section h3, header h1, #deroulement h2, #deroulement .etape section h3 {
  font-family: 'Lobster', cursive;
  text-shadow: 2px 2px 2px #414245; }

/* line 8, ../../sass/_modelColor.scss */
#service h2, #service section h3 {
  text-shadow: 2px 2px 2px #000; }

/* line 15, ../../sass/_modelColor.scss */
#service h2, #service section h3, header h1, #deroulement h2, #deroulement .etape section h3 {
  color: #4D4F52; }

/* line 19, ../../sass/_modelColor.scss */
#service h2, #service section h3, #service section p {
  color: #C8CED4; }

/* line 8, ../../sass/_color.scss */
html {
  background: #C8CED4;
  font-family: 'Source Sans Pro', sans-serif; }

/* line 1, ../../sass/color/_nav.scss */
nav {
  background-color: #4D4F52;
  box-shadow: 0 0 15px 1px #000;
  transition: opacity .5s; }
  /* line 6, ../../sass/color/_nav.scss */
  nav[class=hidden] {
    opacity: 0; }
  /* line 10, ../../sass/color/_nav.scss */
  nav #menuburger {
    background: none;
    border: none;
    color: #000;
    transition: .5s; }
    /* line 16, ../../sass/color/_nav.scss */
    nav #menuburger:hover {
      color: #C8CED4; }
  /* line 21, ../../sass/color/_nav.scss */
  nav li a {
    color: #000;
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none;
    letter-spacing: .1pc;
    transition: .5s; }
    /* line 29, ../../sass/color/_nav.scss */
    nav li a:hover {
      color: #C8CED4; }
  @media all and (max-width: 750px) {
    /* line 35, ../../sass/color/_nav.scss */
    nav ul {
      background: #414245;
      box-shadow: inset 0 5px 5px -5px #000; } }

/* line 1, ../../sass/color/_header.scss */
header {
  background: url("../src/img/header_background.jpg") center no-repeat;
  background-size: cover;
  border-bottom-left-radius: 50% 10%;
  border-bottom-right-radius: 50% 10%;
  box-shadow: 0 0 14px 3px #4D4F52; }
  /* line 8, ../../sass/color/_header.scss */
  header[class=anim] {
    animation: 4s ease 0s infinite alternate radiusAnim; }
  @media all and (max-width: 750px) {
    /* line 1, ../../sass/color/_header.scss */
    header {
      border-bottom-left-radius: 50% 20%;
      border-bottom-right-radius: 50% 20%; }
      /* line 16, ../../sass/color/_header.scss */
      header[class=anim] {
        animation: 4s ease 0s infinite alternate radiusAnimTel; } }

@keyframes radiusAnimTel {
  from {
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%; }
  25% {
    border-bottom-left-radius: 50% 0%;
    border-bottom-right-radius: 50% 0%; }
  50% {
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%; }
  75% {
    border-bottom-left-radius: 50% 0%;
    border-bottom-right-radius: 50% 0%; }
  to {
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%; } }
@keyframes radiusAnim {
  from {
    border-bottom-left-radius: 50% 10%;
    border-bottom-right-radius: 50% 10%; }
  25% {
    border-bottom-left-radius: 50% 0%;
    border-bottom-right-radius: 50% 0%; }
  50% {
    border-bottom-left-radius: 50% 10%;
    border-bottom-right-radius: 50% 10%; }
  75% {
    border-bottom-left-radius: 50% 0%;
    border-bottom-right-radius: 50% 0%; }
  to {
    border-bottom-left-radius: 50% 10%;
    border-bottom-right-radius: 50% 10%; } }
/* line 2, ../../sass/color/_service.scss */
#service::before {
  display: block;
  content: "";
  -webkit-clip-path: url("../src/forme/forme_service.svg#haut");
  clip-path: url("../src/forme/forme_service.svg#haut");
  height: 5vh;
  width: 100%;
  margin-bottom: -1px;
  background: #4D4F52; }
/* line 13, ../../sass/color/_service.scss */
#service::after {
  display: block;
  content: "";
  -webkit-clip-path: url("../src/forme/forme_service.svg#bas");
  clip-path: url("../src/forme/forme_service.svg#bas");
  height: 5vh;
  width: 100%;
  margin-top: -1px;
  background: #4D4F52; }
/* line 24, ../../sass/color/_service.scss */
#service .main {
  background: #4D4F52; }
/* line 37, ../../sass/color/_service.scss */
#service section p {
  font-weight: bold;
  letter-spacing: .1pc; }

/* line 3, ../../sass/color/_deroulement.scss */
#deroulement::before, #deroulement::after {
  content: "";
  height: 5vh;
  width: 100%;
  display: block;
  background: inherit;
  position: absolute; }

/* line 12, ../../sass/color/_deroulement.scss */
#deroulement {
  background: url("../src/img/background_deroulement.jpg") center fixed no-repeat;
  background-size: cover; }
  /* line 16, ../../sass/color/_deroulement.scss */
  #deroulement::before {
    -webkit-clip-path: url("../src/forme/forme_deroulement.svg#haut");
    clip-path: url("../src/forme/forme_deroulement.svg#haut");
    top: -5vh;
    box-shadow: inset 0 30px 12px -12px rgba(0, 0, 0, 0.25); }
  /* line 26, ../../sass/color/_deroulement.scss */
  #deroulement::after {
    -webkit-clip-path: url("../src/forme/forme_deroulement.svg#bas");
    clip-path: url("../src/forme/forme_deroulement.svg#bas");
    bottom: -5vh;
    box-shadow: inset 0 -30px 12px -12px rgba(0, 0, 0, 0.25); }
  /* line 36, ../../sass/color/_deroulement.scss */
  #deroulement h2 {
    color: #000; }
  @media all and (min-width: 704px) {
    /* line 43, ../../sass/color/_deroulement.scss */
    #deroulement:hover > .etape section p {
      height: 50vh;
      overflow: hidden;
      overflow-y: auto;
      mask: inherit; }
    /* line 50, ../../sass/color/_deroulement.scss */
    #deroulement .etape section p {
      height: 25vh;
      overflow: hidden;
      transition: .5s;
      mask: url("../src/forme/forme_deroulement.svg#blur"); } }
  /* line 61, ../../sass/color/_deroulement.scss */
  #deroulement .etape section h3 {
    font-weight: lighter; }
  /* line 67, ../../sass/color/_deroulement.scss */
  #deroulement .etape section p {
    text-align: center;
    letter-spacing: .1pc; }
