%bordureDeroulement {
    content: "";
    height: 10vh;
    width: 100%;
    display: block;
    background: inherit;
    position: absolute;
    box-shadow: inset 0 0 11em 0 #000;
}

#deroulement {
    background: url("../src/img/background_deroulement.jpg") center fixed no-repeat;
    background-size: cover;
    margin: 10vh 0;
    box-shadow: inset 0 0 9em 1em #000;
    filter: drop-shadow(0 0 5px #000);

    &::before {
        @extend %bordureDeroulement;

        clip-path: polygon(100% 100%, 0 100%, 50% 0);
        top: calc(-10vh + 1px);
    }

    &::after {
        @extend %bordureDeroulement;

        clip-path: polygon(0 0, 0 100%, 50% 0, 100% 100%, 100% 0);
        bottom: calc(-10vh + 1px);
    }

    h2, .etape section {
        background-color: rgba($blanc, .4);
        border: 2px solid rgba($blanc, .2);

        @supports (backdrop-filter: blur(5px)) or (-webkit-backdrop-filter: blur(5px)) {
            border: 2px solid rgba($noir, .2);
            background: transparent;
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
        }
    }

    h2 {
        @extend %titreNoir;

        color: #000;
        text-shadow: none;
    }

    .etape {
        section {
            @media all and (min-width: 704px) {
                &:hover > p {
                    overflow-y: auto;
                    mask-image: linear-gradient(to bottom, transparent, 2%, black, 98%, transparent);
                }
        
                p {
                    max-height: 30vh;
                    overflow: hidden;
        
                    mask-image: linear-gradient(to bottom, black 50%, 98%, transparent);
                    mask-size: 100% 100%;
                    mask-repeat: no-repeat;
                }
            }

            h3 {
                @extend %titreNoir;

                color: #000;
                font-weight: lighter;
                text-shadow: none;
            }

            p {
                color: #000;
                text-align: center;
                letter-spacing: .1pc;
            }
        }
    }
}