#description {
    background-color: $noir;
    position: relative;
    margin: 10vh 0;
    filter: drop-shadow(0 0 5px #000);

    &::before {
        @extend %bordureDeroulement;
        
        clip-path: polygon(100% 100%, 0 100%, 50% 0);
        top: calc(-10vh + 1px);
        box-shadow: none;
    }

    &::after {
        @extend %bordureDeroulement;

        clip-path: polygon(0 0, 0 100%, 50% 0, 100% 100%, 100% 0);
        bottom: calc(-10vh + 1px);
        box-shadow: none;
    }

    h2 {
        @extend %titreClaire;
    }

    p {
        @extend %textClaire;

        letter-spacing: .1pc;
        line-height: 1.6pc;
    }
}