header {
    background: url("../src/img/header_background.jpg") center no-repeat;
    background-size: cover;
    border-bottom-left-radius: 50% 10%;
    border-bottom-right-radius: 50% 10%;
    box-shadow: 0 0 14px 3px $noir, inset 0 0 9em 1em #000;

    &[class=anim] {
        animation: 4s ease 0s infinite alternate radiusAnim;
    }

    @media all and (max-width: 750px) {
        border-bottom-left-radius: 50% 20%;
        border-bottom-right-radius: 50% 20%;

        &[class=anim] {
            animation: 4s ease 0s infinite alternate radiusAnimTel;
        }
    }

    img, h1 {
        opacity: .85;
        filter: drop-shadow(0 0 .5em $noir);
    }

    h1 {
        @extend %textNoir;

        color: #000;
        font-weight: bold;
        letter-spacing: .3pc;
    }
}

@keyframes radiusAnimTel {
    from {
        border-bottom-left-radius: 50% 20%;
        border-bottom-right-radius: 50% 20%;
    }

    25% {
        border-bottom-left-radius: 50% 0%;
        border-bottom-right-radius: 50% 0%;
    }

    50% {
        border-bottom-left-radius: 50% 20%;
        border-bottom-right-radius: 50% 20%;
    }

    75% {
        border-bottom-left-radius: 50% 0%;
        border-bottom-right-radius: 50% 0%;
    }

    to {
        border-bottom-left-radius: 50% 20%;
        border-bottom-right-radius: 50% 20%;
    }
}

@keyframes radiusAnim {
    from {
        border-bottom-left-radius: 50% 10%;
        border-bottom-right-radius: 50% 10%;
    }

    25% {
        border-bottom-left-radius: 50% 0%;
        border-bottom-right-radius: 50% 0%;
    }

    50% {
        border-bottom-left-radius: 50% 10%;
        border-bottom-right-radius: 50% 10%;
    }

    75% {
        border-bottom-left-radius: 50% 0%;
        border-bottom-right-radius: 50% 0%;
    }

    to {
        border-bottom-left-radius: 50% 10%;
        border-bottom-right-radius: 50% 10%;
    }
}