#service {
    &::before {
        display: block;
        content: "";
        clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
        height: 5vh;
        width: 100%;
        margin-bottom: -1px;
        background: $noir;
    }

    &::after {
        display: block;
        content: "";
        clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
        height: 5vh;
        width: 100%;
        margin-top: -1px;
        background: $noir;
    }

    .main {
        background: $noir;
    }

    h2 {
        @extend %titreClaire;
    }

    section {
        @media all and (min-width: 704px) {
            &:hover > p {
                overflow-y: auto;
                mask-image: linear-gradient(to bottom, transparent, 2%, black, 98%, transparent);
            }
    
            p {
                max-height: 30vh;
                overflow: hidden;
    
                mask-image: linear-gradient(to bottom, black 50%, 98%, transparent);
                mask-size: 100% 100%;
                mask-repeat: no-repeat;
            }
        }
        
        h3 {
            @extend %titreClaire;
        }

        p {
            @extend %textClaire;

            font-weight: bold;
            letter-spacing: .1pc;
        }
    }
}