#service {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);

    background: $noir;

    svg {
        display: none;
    }

    h2 {
        @extend %titre;
    }

    section {
        h3 {
            @extend %textNoir;
        }

        p {
            @extend %textNoir;
            
            font-weight: lighter;
        }
    }
}