#siteInfo {
    background: $bleu;

    h2, h3 {
        @extend %titreBleu;

        letter-spacing: .1pc;
        hyphens: auto;
    }

    button {
        @extend %textBleu;

        border: none;
        transition: .5s;

        &:hover {
            text-shadow: 2px 2px 2px $noir;
        }
    }

    .conteneur {
        height: 100%;
        box-shadow: inset 0 20px 20px -20px #000, inset 0 -20px 20px -20px #000;
        transition-property: height, box-shadow;
        transition-duration: .5s;

        img {
            transition-property: height, width, transform, top;
            transition-duration: .5s;
        }
    }

    &[hover="true"] {
        .conteneur {
            height: 82vh;
            box-shadow: 0 0px 20px 0px #000;
            background: scale-color($bleu, $lightness: -60%);
        }

        img {
            z-index: 0;

            &[format="hauteur"] {
                height: 100%;
                width: auto;

                @media (orientation:portrait) {
                    height: auto;
                    width: 100%;
                }
            }

            &[format="largeur"] {
                height: auto;
                width: 100%;

                @media (orientation:portrait) {
                    height: 100%;
                    width: auto;
                }
            }
        }
    }

    .description p {
        @extend %textBleu;

        letter-spacing: .1pc;
        font-weight: bold;
    }

    #tagSite li {
        @extend %textBleu;

        font-weight: bold;
        letter-spacing: .1pc;
        border: 3px solid scale-color($bleu, $lightness: -60%);
        border-radius: 15px / 50%;
        padding: .5vh 1vw;
    }

    a {
        @extend %boutonBleu;
    }
}