#competance {
    @if $border == true {
        border: 1px solid black;
    }

    .main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content;
        row-gap: 5vh;
        padding: 5vh 2vw;

        @if $border == true {
            border: 1px solid black;
        }

        h2 {
            grid-column: 1 / -1;
            grid-row: 1 / span 1;
            text-align: center;
            font-size: 3rem;

            @if $border == true {
                border: 1px solid black;
            }
        }

        .competances {
            display: grid;
            grid-template-columns: repeat(4, 23.5%);
            grid-auto-rows: min-content;
            row-gap: 9vh;
            column-gap: 2%;

            @if $border == true {
                border: 1px solid black;
            }

            @media all and (max-width: 700px) {
                grid-template-columns: repeat(3, 30.66%);
                column-gap: 4%;
            }

            @media all and (max-width: 530px) {
                grid-template-columns: repeat(2, 48%);
            }

            @media all and (max-width: 365px) {
                grid-template-columns: 100%;

                img {
                    width: 30% !important;
                }

                h3 {
                    width: 50% !important;
                    margin: 0 auto;
                }
            }

            section {
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: 1fr min-content;
                row-gap: 3vh;
                align-self: center;

                @if $border == true {
                    border: 1px solid black;
                }

                img {
                    justify-self: center;
                    align-self: center;
                    height: auto;
                    width: 50%;
                }

                h3 {
                    font-size: 2rem;
                    text-align: center;
                    overflow: hidden;
                    padding: 0.05pc 0;
                    white-space: nowrap;

                    @if $border == true {
                        border: 1px solid black;
                    }
                }
            }
        }
    }
}