#description {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    row-gap: 5vh;
    padding: 2vh 2vw;

    @if $border == true {
        border: 1px solid black;
    }

    h2 {
        text-align: center;
        font-size: 3rem;

        @if $border == true {
            border: 1px solid black;
        }
    }

    p {
        @if $border == true {
            border: 1px solid black;
        }

        align-self: center;
        text-align: center;
        font-size: 2.25rem;
    }
}