header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 100vh;
    padding: 2vh 2vw;
    z-index: 1;

    @if $border == true {
        border: 1px solid black;
    }

    & > * {
        margin: 1vh 0;
    }

    .logo {
        height: 40vh;
        width: auto;

        @media all and (max-width: 400px) {
            height: auto;
            width: 90vw;
        }
    }

    h1 {
        font-size: 3rem;
    }

    .scrool {
        height: 10vh;
        width: auto;

        @if $border == true {
            border: 1px solid black;
        } 
    }
}