#portfolio {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    row-gap: 5vh;
    min-height: 100vh;
    padding: 2vh 2vw;

    @if $border == true {
        border: 1px solid black;
    }

    h2 {
        text-align: center;
        font-size: 3rem;

        @if $border == true {
            border: 1px solid black;
        }
    }

    .sites {
        @if $border == true {
            border: 1px solid black;
        }

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 25vh;
        grid-auto-rows: 25vh;
        column-gap: 5vw;
        row-gap: 5vh;
        align-self: center;

        @media all and (max-width: 1050px) {
            & {
                grid-template-columns: repeat(3, 1fr);
            }
        }

        @media all and (max-width: 800px) {
            & {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        @media all and (max-width: 500px) {
            & {
                grid-template-columns: 1fr;
            }
        }

        section {
            @if $border == true {
                border: 1px solid black;
            }

            position: relative;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            cursor: pointer;

            h3, span {
                @if $border == true {
                    border: 1px solid black;
                    background: white;
                }

                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                text-align: center;
                font-size: 2rem;
                overflow: hidden;
                white-space: nowrap;
            }

            span {
                top: unset;
                bottom: 0;
            }
        }
    }
}