#siteInfo {
    display: grid;
    grid-template-columns: 5vw 1fr 5vw;
    grid-template-rows: min-content 4fr minmax(1vh, 3fr) min-content min-content;
    row-gap: 3vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2vh 0;
    z-index: 10;
    transition: left .5s;

    @if $border == true {
        border: 1px solid black;
        background: white;
    } 

    &[class=hidden] {
        left: 100%;
    }

    h2 {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        align-self: center;

        text-align: center;
        font-size: 3rem;

        @if $border == true {
            border: 1px solid black;
        } 
    }

    button {
        position: absolute;
        top: 5px;
        left: 5px;
        padding: 1%;
        font-size: 30px;

        background: transparent;

        @if $border == true {
            border: 1px solid black;
        }
    }

    .conteneur {
        grid-column: 1 / -1;
        grid-row: 2 / span 1;

        position: relative;
        overflow: hidden;

        @if $border == true {
            border: 1px solid black;
        }

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;
            transform: translate(-50%, -50%);

            &[format="hauteur"] {
                height: auto;
                width: 100%;
            }

            &[format="largeur"] {
                height: 100%;
                width: auto;
            }
        }
    }

    .description {
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;

        display: grid;

        @if $border == true {
            border: 1px solid black;
        }

        h3 {
            margin-bottom: 1.5rem;
            font-size: 2.25rem;

            @if $border == true {
                border: 1px solid black;
            }
        }

        p {
            font-size: 1.5rem;
            overflow-y: auto;

            @if $border == true {
                border: 1px solid black;
            }
        }
    }

    ul {
        grid-column: 2 / span 1;
        grid-row: 4 / span 1;

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        overflow-x: auto;
        font-size: 1.5rem;

        @if $border == true {
            border: 1px solid black;
        }

        li {
            margin: .5vh .5vw;

            @if $border == true {
                border: 1px solid black;
            }
        }
    }

    a {
        grid-column: 2 / span 1;
        grid-row: 5 / span 1;

        justify-self: center;
        padding: 2vh 2vw;
        width: 50%;
        font-size: 2rem;
        text-align: center;

        @if $border == true {
            border: 1px solid black;
        }

        @media all and (max-width: 280px) {
            width: 80%
        }
    }
}