* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content auto;
    row-gap: 5vh;
}

h1 {
    justify-self: center;
    align-self: center;
    font-size: 1.6rem;
}

form {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 2vh;
    justify-self: center;
    align-self: center;
    max-width: 90%;
    padding: 5%;
    border: 1px solid black;
}

form span {
    font-weight: bold;
    color: #8b0000;
}

form div {
    display: flex;
    flex-flow: column;
}

input, label, span {
    font-size: 1.2rem;
}